$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// Color
$blue: #618daa;
$white: #ffff;
$lightest-grey: #dfe6e9;
$light-grey: #b2bec3;
$grey: #636e72;
$gunmetal-grey: #2d3436;

$border-radius: 15px;

// Nav default styles
$nav-margin-left: 1rem;

// Title
$title-size: 1.5rem;

// Search bar
$search-bar-height: 2rem;
$search-bar-width: 20rem;

// Search button
$search-btn-height: 2rem;
$search-btn-width: 5rem;

// Homepage container
$hitchcock-img: '/src/img/Hitchcock.jpg';
$stock-img-one: '/src/img/stock.jpg';
$homepage-info-container-padding-down: 4rem;
$homepage-height: 760px;
$home-title-font-size: 3rem;
$home-info-font-size: 1rem;
$homepage-footer-border-radius: 50%;
$homepage-footer-image-margin-top: 1.5rem;
$homepage-footer-big-text: 2rem;
$homepage-footer-normal-text: 1rem;

// Add btn container
$add-btn-container-padding-right: 1rem;
$add-btn-container-padding-top: 1.5rem;
$add-btn-big-height: 30px;
$add-btn-big-width: 40px;
$add-btn-small-height: 20px;

// Back button
$back-btn-container-padding-left: 1rem;
$back-btn-container-padding-top: 1.5rem;
$back-btn-height: 30px;
$back-btn-width: 40px;

// Checkmark icon, remove button, container for checkmark and remove
$checkmark-remove-container-padding-right: 1rem;
$checkmark-remove-container-padding-top: 1.5rem;
$checkmark-icon-height: 25px;

// Feedback container
$feedback-container-padding-top: 1rem;
$feedback-added-color: #5cdb95;
$feedback-removed-color: #f44336;

// Result by id
$result-by-id-padding: 50px;
$result-by-id-top-padding: 10px;
$result-by-id-margin: 50px;

//imdb logo
$imdb-height: 26px;
$imdb-logo-margin: 1rem;
$imdb-rating-margin: 20px;

// Rotten tomatoes
$rotten-height: 26px;
$rotten-logo-margin: 1rem;

// Partial cast
$partial-cast-margin: 50px;

// Img poster
$img-poster-height: 400px;
$img-poster-max-width: 300px;

// backlog container
$backlog-container-elements-margin: 1rem;

// clear backlog button
$button-border-radius: 20px;
$button-font-size: 0.9rem;
