@import 'config';

body {
  // font-family: $font-family;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-family: sans-serif;

  nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5vh;
    border: solid;

    .search-wrapper {
      .search-bar {
        margin-left: $nav-margin-left;
        height: $search-bar-height;
        width: $search-bar-width;
        border-radius: $border-radius;
        padding-left: 1rem;
      }
      .search-bar:focus {
        outline: none;
      }
      .search-btn {
        margin-left: $nav-margin-left;
        height: 2rem;
        width: 5rem;
      }
    }

    .title {
      font-size: $title-size;
      color: grey;
    }

    .title:focus {
      color: grey;
    }

    .my-backlog {
      margin-left: $nav-margin-left;
    }
  }

  .container {
    border: solid;

    .button-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .back-btn-container {
        align-content: center;
        display: flex;
        justify-content: flex-start;
        padding-left: $back-btn-container-padding-left;
        padding-top: $back-btn-container-padding-top;

        .back-btn {
          width: $back-btn-width;
          height: $back-btn-height;
          cursor: pointer;
        }
      }

      .add-btn-container {
        .add-btn {
          width: $back-btn-width;
          height: $back-btn-height;
          cursor: pointer;
        }
      }

      .checkmark-remove-container {
        display: flex;

        .checkmark-icon,
        .remove-btn {
          width: $back-btn-width;
          height: $back-btn-height;
        }

        .remove-btn {
          cursor: pointer;
        }
      }
    }
    .search-results-container {
      margin: 0 auto;
      // Use below for media query possibly
      // padding-top: 5vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .search-result-item {
        flex: 0 40%;
        padding: 0.5rem;
        box-sizing: border-box;
        border-left: solid;
        border-right: solid;
        border-bottom: solid;
        margin-left: 1rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        pointer-events: all;
        text-align: center;

        .result-title,
        .result-poster {
          pointer-events: none;
        }

        .result-title:hover {
          border: solid;
        }

        .result-poster {
          height: 200px;
          width: 150px;
        }
      }
      .search-result-item:hover {
      }
    }
    .result-by-id-container {
      padding-top: $result-by-id-top-padding;
      padding-bottom: $result-by-id-padding;

      .id-result {
        display: flex;
        align-items: flex-start;
        padding: 0 $result-by-id-padding;
        .img-poster {
          margin-right: $result-by-id-margin;
          height: $img-poster-height;
          max-width: $img-poster-max-width;
        }

        .id-details {
          .id-year {
            margin-bottom: 0;
          }

          .id-runtime-rating {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 0;

            .id-runtime {
              margin-right: $result-by-id-margin;
            }
            .id-rating {
              margin-right: $result-by-id-margin;
            }
          }
          .critical-rating {
            display: flex;
            flex-wrap: wrap;
            .id-imdb {
              display: flex;
              align-items: center;
              .imdb-logo {
                // width: $imdb-height;
                height: $imdb-height;
                margin-right: $imdb-logo-margin;
              }
              .imdb-rating {
                margin-right: $imdb-rating-margin;
              }
            }
            .id-rotten-tomatoes {
              display: flex;
              align-items: center;
              .rotten-icon {
                height: $rotten-height;
                margin-right: $rotten-logo-margin;
              }
            }
          }
          .partial-cast {
            .by {
              font-weight: normal;
              .partial-cast-space {
                font-weight: bold;
                margin-left: $partial-cast-margin;
              }
            }
          }
        }
      }
    }
  }

  footer {
    border: solid;
    text-align: center;
  }
}
