@import 'config';

body {
  // font-family: $font-family;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-family: $font-family;
  margin: 0px;

  .nav {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-height: 10vh;
    background-color: $grey;
    // border-bottom: solid;

    .search-wrapper {
      .search-bar {
        margin-left: $nav-margin-left;
        height: $search-bar-height;
        width: $search-bar-width;
        border-radius: $border-radius;
        padding-left: 1rem;
      }
      .search-bar:focus {
        outline: none;
      }
      .search-bar:hover {
        border: solid $gunmetal-grey;
      }
      .search-btn {
        margin-left: $nav-margin-left;
        height: 2rem;
        width: 5rem;
        cursor: pointer;
        border-radius: $button-border-radius;
        border: none;
        letter-spacing: 0.2px;
        background-color: $light-grey;
      }

      .search-btn:hover {
        border: solid $gunmetal-grey;
      }
    }

    .title {
      font-size: $title-size;
      // color: grey;
      cursor: pointer;
    }

    .backlog-buddy,
    .my-backlog {
      color: $white;
    }

    .backlog-buddy:hover {
      border-bottom: solid;
    }

    .my-backlog {
      margin-left: $nav-margin-left;
      cursor: pointer;
    }
    .my-backlog:hover {
      border-bottom: solid;
    }
  }

  .container {
    background-color: $light-grey;

    .homepage-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url($stock-img);
      background-size: cover;
      opacity: 0.9;

      .homepage-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: $homepage-info-container-padding-down;
        height: $homepage-height;

        .home-title {
          padding: 0;
          margin: 0;
          text-align: center;
          color: $white;
          letter-spacing: 0.15rem;
          font-size: $home-title-font-size;
        }

        .home-info {
          color: $white;
          font-size: $home-info-font-size;
          letter-spacing: 0.2rem;
          padding-bottom: 1rem;
        }
      }
    }

    .homepage-footer-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;
      align-items: center;

      .homepage-footer-text {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        text-align: center;

        .homepage-footer-big-text {
          font-size: $homepage-footer-big-text;
          margin-bottom: $backlog-container-elements-margin;
          font-weight: 600;
        }
        .homepage-footer-normal-text {
          font-size: $homepage-footer-normal-text;
        }
      }

      .homepage-footer-image {
        background-image: url($hitchcock-img);
        border: solid;
        border-radius: $homepage-footer-border-radius;
        min-height: 5rem;
        max-height: 15rem;
        object-fit: fill;
        margin-top: $homepage-footer-image-margin-top;
        margin-bottom: $homepage-footer-image-margin-top;
      }
    }

    .button-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .feedback-container {
        padding-top: $feedback-container-padding-top;

        .added-backlog {
          color: $feedback-added-color;
        }
        .removed-backlog {
          color: $feedback-removed-color;
          border: solid;
        }
      }

      .back-btn-container {
        align-content: center;
        display: flex;
        justify-content: flex-start;
        padding-left: $back-btn-container-padding-left;
        padding-top: $back-btn-container-padding-top;

        .back-btn {
          width: $back-btn-width;
          height: $back-btn-height;
          cursor: pointer;
        }
      }

      .add-btn-container {
        padding-top: $add-btn-container-padding-top;
        padding-right: $add-btn-container-padding-right;
        .add-btn {
          width: $add-btn-big-width;
          height: $add-btn-big-height;
          cursor: pointer;
        }
      }

      .checkmark-remove-container {
        display: flex;
        padding-right: $checkmark-remove-container-padding-right;
        padding-top: $checkmark-remove-container-padding-top;

        .checkmark-icon,
        .remove-btn {
          width: $back-btn-width;
          height: $back-btn-height;
        }

        .checkmark-icon {
          color: $feedback-added-color;
        }

        .remove-btn {
          cursor: pointer;
        }
      }
    }
    .search-results-container {
      margin: 0 auto;
      // Use below for media query possibly
      // padding-top: 5vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .search-result-item {
        flex: 0 40%;
        padding: 0.5rem;
        box-sizing: border-box;
        border-left: solid;
        border-right: solid;
        border-bottom: solid;
        margin-left: 1rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        pointer-events: all;
        text-align: center;
        cursor: pointer;

        .title-container {
          pointer-events: none;
        }

        .result-title,
        .result-poster {
          pointer-events: none;
        }

        .result-title {
          font-weight: normal;
        }

        .result-poster {
          height: 200px;
          width: 150px;
        }
      }
      .search-result-item:hover {
        .result-title {
          font-weight: bold;
        }
      }
    }

    .pagination-container {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .prev {
        margin-right: 1rem;
      }
      .prev,
      .next {
        cursor: pointer;
        font-size: $feedback-font-size;
      }
      .prev:hover,
      .next:hover {
        border-bottom: solid;
      }
    }

    .result-by-id-container {
      padding-top: $result-by-id-top-padding;
      padding-bottom: $result-by-id-padding;

      .id-result {
        display: flex;
        align-items: flex-start;
        padding: 0 $result-by-id-padding;
        .img-poster {
          margin-right: $result-by-id-margin;
          height: $img-poster-height;
          max-width: $img-poster-max-width;
        }

        .id-details {
          .id-year {
            margin-bottom: 0;
          }

          .id-runtime-rating {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 0;

            .id-runtime {
              margin-right: $result-by-id-margin;
            }
            .id-rating {
              margin-right: $result-by-id-margin;
            }
          }
          .critical-rating {
            display: flex;
            flex-wrap: wrap;
            .id-imdb {
              display: flex;
              align-items: center;
              .imdb-logo {
                // width: $imdb-height;
                height: $imdb-height;
                margin-right: $imdb-logo-margin;
              }
              .imdb-rating {
                margin-right: $imdb-rating-margin;
              }
            }
            .id-rotten-tomatoes {
              display: flex;
              align-items: center;
              .rotten-icon {
                height: $rotten-height;
                margin-right: $rotten-logo-margin;
              }
            }
          }
          .partial-cast {
            .by {
              font-weight: normal;
              .partial-cast-space {
                font-weight: bold;
                margin-left: $partial-cast-margin;
              }
            }
          }
        }
      }
    }

    .backlog-container {
      margin: 0 auto;
      // Use below for media query possibly
      // padding-top: 5vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;

      .backlog-stats-container {
        text-align: center;
        .my-backlog-title {
          text-align: center;
        }
        .backlog-stats-flex {
          display: flex;
          flex-direction: row;
          justify-content: center;

          .number-of-items {
            margin-right: $backlog-container-elements-margin;
          }

          .clear-backlog-btn {
            margin-left: $backlog-container-elements-margin;
            border: none;
            border-radius: $button-border-radius;
            background-color: $blue;
            color: #ffffff;
            font-weight: 500;
            font-size: $button-font-size;
            cursor: pointer;
            transition: all 0.3s;
          }
          .clear-backlog-btn:hover {
            letter-spacing: 2px;
          }
          .clear-backlog-btn:hover::before {
            opacity: 1;
            transform: scale(1, 1);
          }
          .clear-backlog-btn:before {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            transition: all 0.3s;
            border-top-width: 1px;
            border-bottom-width: 1px;
            border-top-style: solid;
            border-bottom-style: solid;
          }
          .clear-backlog-btn::after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            transition: all 0.3s;
          }
        }
      }

      .backlog-item-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .backlog-item {
          flex: 0 40%;
          padding: 0.5rem;
          box-sizing: border-box;
          margin-left: 1rem;

          display: flex;
          flex-direction: column;
          align-items: center;
          pointer-events: all;
          text-align: center;
          cursor: pointer;

          .backlog-poster {
            height: $backlog-poster-height;
            width: $backlog-poster-width;
          }

          .title-container,
          .backlog-poster {
            pointer-events: none;
          }
        }
        .backlog-item:hover {
          border: solid $gunmetal-grey;
        }
      }
    }

    .feedback-container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .feedback-text {
        text-align: center;
        padding-top: $feedback-text-padding-top;
        color: $feedback-text-color;
        font-size: $feedback-font-size;
      }
    }
  }

  footer {
    text-align: center;
    background-color: grey;

    .footer-text {
      color: $white;
      font-weight: lighter;
    }
  }
}

/* Portrait for iphones */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;

    .nav {
      display: flex;
      flex-direction: row;
      height: auto;
      align-items: center;
      justify-content: center;
      padding-top: 0.5rem;
      flex-wrap: wrap;
      max-height: 10vh;

      .title {
        .backlog-buddy {
          margin: 0;
          font-size: 1.5rem;
          font-weight: 800;
          padding-bottom: 0.25rem;
        }
      }

      .search-wrapper {
        display: flex;
        flex-direction: column;

        .search-bar {
          width: 10rem;
        }

        .search-btn {
          display: none;
        }
      }

      .my-backlog {
        margin: 0;
        padding-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }

    .container {
      .homepage-container {
        height: 600px;
        background-image: url($mobile-stock-img);

        .homepage-info-container {
          text-align: center;
        }
      }

      .homepage-footer-container {
        .homepage-footer-image {
          margin-right: 0.5rem;
          max-height: 10rem;
        }
      }

      .search-results-container {
        flex-direction: column;

        .search-result-item {
          margin-left: 0;
          border-left: none;
          border-right: none;
        }
      }

      .id-result {
        flex-direction: column;
      }

      .backlog-container {
        .backlog-item-container {
          height: 600px;
          flex-direction: column;
        }
      }
    }
  }
}
